{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { "node": true },
    "plugins": [
		"@typescript-eslint",
		"obsidian",
		"prettier"
    ],
    "extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"no-prototype-builtins": "off",
		"no-unused-vars": "off",
		"obsidian/unresolved-provider-dependencies": "error",
		"obsidian/no-circular-dependencies": "error",
		"obsidian/strongly-typed-inject-component": "error",
		"prettier/prettier": "error"
    }
}
